* {
    box-sizing: border-box;
  }
  .card {
    height: 340px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover {
    transform: rotate(-5deg);
  }
  .card:hover {
    transform: translateX(19%);
  }
  .card:hover .outside {
    transform: rotateY(-130deg);
  }


  .outside,
  .inside {
    border-radius: 16px;
    height: 100%;
    width: 50%;
    position: absolute;
    background-size: cover;
    left: 26%;
  }

  .inside {
    line-height: 2;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 26%;
    background-size: cover;
    background-position: 0px;
    background-image: url('https://i.pinimg.com/564x/18/18/83/1818836abde75f0ebbd752dcb083833d.jpg');
  }
  
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
    background-position-y: -10px;
    background-image: url('https://i.pinimg.com/564x/ac/30/c5/ac30c5f81567f23aa5f2429c78250782.jpg');
  }
  .front,
  .back {
    border-radius: 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);

  }
  .front {
    border-radius: 16px;  
    background-size: 300px;
    background-size: cover;
    background-image: url('https://i.pinimg.com/564x/19/2f/bc/192fbc8a40dafb20a603d1ccbc159530.jpg');
  }
  .back {
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20px;
    /* background-size: 160px;
    background-position-x: 20px;
    background-position-y: 110px;
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/410571367_325128247065306_2636415029048744167_n.jpg?stp=dst-jpg_s206x206&_nc_cat=105&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFKicjyWSZ30ZaXpjIvLtBBdvKAUmkOCR128oBSaQ4JHQE3TDBAtJ1ZY8jkhsdsKlC2ch32Elr-AfiqOLfIIHG3&_nc_ohc=ornelJA7ZuAAX_5GHB8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&cb_e2o_trans=q&oh=03_AdQtvn7TaFsEGakwcmFpLgow_9foSVhU1AWFmQQA3hRrMw&oe=65AA6AAB'); */
  }
 
  .outside p {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #000046;
  }
/* ảnh chạy */

.scrolling-image {
  width: 200px;
  position: absolute;

  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.image1 {
  width: 100px;
  height: auto;
  top: 0;
  animation-name: scroll1;
  animation-duration: 7s;
}

.image2 {
  width: 100px;
  right: 10px;
  top:-400px;
  animation-name: scroll2;
  animation-duration: 10s;
}

@keyframes scroll1 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(1400%);
  }
}
@keyframes scroll2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(1800%);
  }
}


/* ảnh chạy 2 */

.scrolling-image2 {
  width: 200px;
  position: absolute;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.image3 {
  top:-300px;
  left: 100px;
  width: 100px;
  height: auto;
  animation-name: scroll1;
  animation-duration: 12s;
}

.image4 {
  animation-duration: 12s;
  top: -600px;
  right: 90px;
  width: 100px;
  animation-name: scroll2;
}

.image5 {
  left: 160px;
  top: -800px;
  animation-duration: 12s;
  width: 100px;
  animation-name: scroll2;
}
@keyframes scroll3 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(1000%);
  }
}
@keyframes scroll4 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(1000%);
  }
}
@keyframes scroll5 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(1000%);
  }
} 